
* {
	font-family: Arial, Verdana, sans-serif;
	color: #665544;
	text-align: center;
}

#nav, #feature, .article, #footer {
	background-color: #7ABA6A;
	margin-top: 20px;
	padding: 10px 0px 5px 0px;
}

#feature {
	height: 100px;
}

.article {
	display: inline-block;
	height: 35%;
	width: 30%;
	border: 1px dotted black;
	padding-left: 5px;
	padding-right: 5px;
	position: relative;
}

li {
	display: inline;
	padding: 5px;
}

.frame {
	width: 100%;
}

a:hover {
	background-color: #85C1E9;
}

body {
	background-image: url("../images/bg1.jpg");
}

h2 {
	color: white;
}
