<!DOCTYPE html>
<html>
<head>
	<title>About Coming Soon!</title>
	<link rel="stylesheet" type="text/css" href="../css/about.css">
	
</head>
	<body>
	<div id="container_12 clearfix">
		<div id="header" class="grid_12">
			<h1>Logo</h1>
			<div id="nav">
				<ul>
					<li><a href="../index.html">Home</a></li>
        			<li><a href="../templates/bio.html">Bio</a></li>
        			<li><a href="../templates/gallery.html">Gallery</a></li>
        			<li><a href="../templates/about.html">About</a></li>
        			<li><a href="../templates/contact.html">Contact</a></li>
				</ul>
			</div>
		</div>
		
		
		<div id="footer" class="grid_12">
		  <p>&copy; Moe Quinn Copyright 2017</p>
		</div>
	  </div><!-- .container_12 -->
	</body>
</html>